<html>
    <head>  
        <title>Directive Demo</title>  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body class="jumbotron container" ng-app="myApp">
        <div ng-controller="AppController as ctrl">
            <h3>List of Sale Items.</h3>
            <div ng-repeat="bla in ctrl.items">
                <item-widget item="bla" promo="Christmas-Sale" on-select="ctrl.onItemSelect(selectedItem)">
                    Last item left. Hurry up.
                </item-widget>
            </div>
        </div>
       
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js">
        </script> 
<script type="text/ng-template" id="/saleItem3.html">
    <div class="panel panel-default">
        <div class="panel-heading">
            Published at:<span ng-bind="item.published | date"></span> &nbsp;Promotion: {{promo}}<button class="pull-right" ng-click="pickMe({selectedItem:item.name})">Buy me</button>
        </div>
        <div class="panel-body">
                <div class="alert alert-info" ng-transclude></div>
                Name:<span ng-bind="item.name"></span>
                Condition:<span ng-bind="item.condition"></span>
                Price:<span ng-bind="item.price | currency"></span>
                Brand:<span ng-bind="item.brand"></span>
        </div>
    </div>
</script> 
        <script>

            angular.module('myApp', [])
            .controller('AppController', [function() {
                var self = this;
                self.items = [
                            {name: 'Computer', price: 500, condition:'New',brand : 'Lenovo', published:'01/11/2015'},
                            {name: 'Phone', price: 200, condition:'New',brand : 'Samsung', published:'02/11/2015'},
                            {name: 'Printer', price: 300, condition:'New',brand : 'Brother', published:'06/11/2015'},
                            {name: 'Dishwasher', price: 250, condition:'Second-Hand',brand : 'WhirlPool', published:'01/12/2015'},
                            ];
                self.onItemSelect = function(name) {
                    console.log('Congrats. You have just bought a', name);
                };                          
            }])
            .directive('itemWidget', [function() {
                return{
                    restrict: 'E',
                    replace: true,
                    transclude: true,
                    scope: {
                        item: '=',
                        promo: '@',
                        pickMe : '&onSelect'
                    },
                    templateUrl: '/saleItem3.html',
                    link : function(scope, element, attrs){
                            //Add event listener for 'click' event
                        element.on('click', function(event) {
                         
                                element.html('Thanks for buying this item.');
                                element.css({
                                    color: 'green',
									background: 'yellow'
                                });
                          });
                    }
                }
            }]);
        </script>
    </body>
</html>